<!DOCTYPE html>  
    <HTML>
        <head>
            <title> This is test hbs page </title>
            <link rel="stylesheet" href="css/style.css">
        </head>
        <body>
            {{>header}}
            <h1>This is The help hbs page</h1>
            <p>{{title}}</p>
            <h1>created by {{name}}</h1>
            <h4>This is the dynamic message {{message}}</h4>
            <script src='js/js.js'></script>

            {{>footer}}
        </body>




    </HTML>